@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');


html, body {
	min-height:100%;
}

body {
	background:rgba(112,112,112);

}

h1 {
	font-family: 'Oswald', sans-serif;
	color:white;
	size: xx-large;

}

h2 {
	font-family: 'Ubuntu', sans-serif;
	color:white;
}

h3,h4,h5,h6{
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	color:white;
	font-size: x-large;
}



#menu{
	position: fixed;
	bottom:2rem;
	right:2.5rem;
}

img {
	
	border:8px solid white;
}

.bg-azul {
	background:rgba (38,77,149,1.00);
}